PORT=4000
MONGODB_STRING=mongodb://maiki3098:admin123@ac-dhhbdj9-shard-00-00.rngdsng.mongodb.net:27017,ac-dhhbdj9-shard-00-01.rngdsng.mongodb.net:27017,ac-dhhbdj9-shard-00-02.rngdsng.mongodb.net:27017/AirlineBookingAPI?ssl=true&replicaSet=atlas-gkw1mt-shard-0&authSource=admin&appName=My-Sandbox-Cluster
JWT_SECRET_KEY=